<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <title>Receive</title>
    </head>
    <body style="color:white;background:black">
        <h1>Receive</h1>

       Hello
       <ul>
        <li>
            <a href="http://127.0.0.1:8000/⚡/WwogIHsKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25faWQiOiAiNjIwOTcxNGI2NDE4YjllMDEyNDI4MWFlIiwKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25fdmFsdWUiOiAiZ29vZCIKICB9Cl0=" target="popup">correct >> good</a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/⚡/WwogIHsKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25faWQiOiAiNjIwOTcxNGI2NDE4YjllMDEyNDI4MWFlIiwKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25fdmFsdWUiOiAiYmFkIgogIH0KXQ==" target="popup">correct >> bad </a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/⚡/WwogIHsKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25faWQiOiAiNjIwOTcxNGI2NDE4YjllMDEyNDI4MWFlIiwKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25fdmFsdWUiOiAic3Vja3NzcyIKICB9Cl0=" target="popup">incorrect >> sucksss</a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/⚡/WwogIHsKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25faWQiOiAiNjIwOTcxNGI2NDE4YjllMDEyNDI4MWFlIiwKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25fdmFsdWUiOiAiZ29vZCIKICB9LAogIHsKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25faWQiOiAiNjIxMTZjYjg0Y2EzYWVlMGIwOTdjYmM5IiwKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25fdmFsdWUiOiAxCiAgfQpd" target="popup">correct >> good+ 1</a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/⚡/WwogIHsKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25faWQiOiAiNjIwOTcxNGI2NDE4YjllMDEyNDI4MWFlIiwKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25fdmFsdWUiOiAiZ29vZCIKICB9LAogIHsKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25faWQiOiAiNjIxMTZjYjg0Y2EzYWVlMGIwOTdjYmM5IiwKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25fdmFsdWUiOiAiMSIKICB9Cl0=" target="popup">incorrect >> good + 1(string)</a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/⚡/WwogIHsKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25faWQiOiAiNjIwOTcxNGI2NDE4YjllMDEyNDI4MWFlIiwKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25fdmFsdWUiOiAiZ29vZCIKICB9LAogIHsKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25faWQiOiAiNjIxMTZjYjg0Y2EzYWVlMGIwOTdjYmM5IiwKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25fdmFsdWUiOiA1CiAgfQpd" target="popup">correct >> good + 5</a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/⚡/WwogIHsKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25faWQiOiAiNjIwOTcxNGI2NDE4YjllMDEyNDI4MWFlIiwKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25fdmFsdWUiOiAiZ29vZCIKICB9LAogIHsKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25faWQiOiAiNjIxMTZjYjg0Y2EzYWVlMGIwOTdjYmM5IiwKICAgICJmZWVkYmFja0xvb3BfcXVlc3Rpb25fdmFsdWUiOiA2CiAgfQpd" target="popup">incorrect >> good + 6</a>
        </li>
    </ul>
    <h4>Template</h4>
    {{ template }}

    <script>
        let timerInterval
        // Arrow Function
        var update = (id,newValue,oldValue) => {
            payload = JSON.stringify(
                [
                    {
                    'loop_data_stream_id': id,
                    'loop_data_stream_value': newValue
                    }
                ]
            )
            console.log(payload)
            payloadStr = btoa(payload)
            //console.log(payloadStr)
            //window.location.href = '/receive/' + payloadStr;

            fetch('/update/' + payloadStr, {
            method: 'PUT', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
            },
            //body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
            console.log('Success:', data);
            // Highlight new element
            var elementClicked = document.getElementById(id+newValue)
            elementClicked.classList.add('active')
            elementClicked.classList.add('disabled')

            //Unhighlight previous element + activate
            var elementClicked = document.getElementById(id+oldValue)
            elementClicked.classList.remove('active')
            elementClicked.classList.remove('disabled')

            })
            .catch((error) => {
            console.error('Error:', error);
            });

        };
        Swal.fire({
        //test: sendalert(),
        title:  '{% if template["isError"] == 1 %}'+
                'One or more errors detected'+
                '{% elif template["isAlert"] == 1 %}'+
                'A few alerts detected'+
                '{% elif template["isUpdate"] == 1 %}'+
                'Information'+
                '{% else %}'+
                'Yay!'+
                '{% endif %}',
        icon:   '{% if template["isError"] == 1 %}'+
                'error'+
                '{% elif template["isAlert"] == 1 %}'+
                'warning'+
                '{% elif template["isUpdate"] == 1 %}'+
                'info'+
                '{% else %}'+
                'success'+
                '{% endif %}',
        html:   "{% for item in template['model'] %}"+
                '<h5>{{ item.question.label }}</h5>'+
                '<h6>{{ item.event }}</h6>'+
                    '<ul id="{{ item.questionId }}" class="list-group">'+
                        '{% for element in item.question.data_values[0]["values"] %}'+
                        "<a id={{item.questionId}}_{{item.value}} href='#' onclick=update() class='list-group-item {% if element == item.value %} disabled  active{% endif %}' background-color:'#F7F7F7'>"+
                            '<span class="badge badge-primary badge-pill">{% if element == item.value %}✔️{% endif %}</span>'+
                            '{{ element }}'+
                            '</a>'+
                        '{% endfor %}'+
                    '</ul>'+
                    '<span class="badge bg-{{item.notification.label}}">{{item.notification.text}}</span>'+
                '<p>'+
                "{% endfor %}"+
                '<p>'+
                '<ul>'+
                '<!--{% for info in template["info"] %}'+
                '<span class="badge bg-{{info.label}}">{{info.text}}</span>'+
                '{% endfor %}'+
                '</ul>'+
                '<ul>'+
                '{% for error in template["errors"] %}'+
                '<span class="badge bg-{{error.label}}">{{error.text}}</span>'+
                '{% endfor %}'+
                '</ul>-->'+
                '<p>',      
        timer: '{% if template["isLightning"] == 1 %}5000'+
                '{% else %}{% endif %}',
        footer: '{% if template["isLightning"] == 1 %} I will close in  <b></b> ms.'+
                '{% else %}{% endif %}',
        //showCloseButton: false,
        showConfirmButton: true,
        timerProgressBar: true,
        backdrop: `
            rgba(0,0,123,0.4)
            url("/static/images/nyan-cat.gif")
            left top
            no-repeat
        `,
        didOpen: () => {
            var isLightning = '{{template["isLightning"]}}'
            if (isLightning == 1)
            {
                Swal.showLoading()
                const b = Swal.getFooter().querySelector('b')
                timerInterval = setInterval(() => {
                b.textContent = Swal.getTimerLeft()
                }, 1000)
            }
        },
        willClose: () => {
            var isLightning = '{{template["isLightning"]}}'
            if (isLightning == 1)
            {
                clearInterval(timerInterval)
                window.close()
            }
        }
        }).then((result) => {
        /* Read more about handling dismissals below */

        if (result.dismiss === Swal.DismissReason.timer) {
            //console.log('I was closed by the timer')
        }
        })
        var feedbackLoop_question_id = '6209714b6418b9e0124281ae';
        //var value = JSON.parse(document.getElementById('hello-data').textContent);

        //document.querySelector("#ws-id").textContent = client_id;
        /*var ws = new WebSocket(`ws://127.0.0.1:8000/feed/${feedbackLoop_question_id}`);
        ws.onmessage = function(event) {
            var messages = document.getElementById('messages')
            var message = document.createElement('li')
            var content = document.createTextNode(event.data)
            message.appendChild(content)
            messages.appendChild(message)
        };
        /*timerInterval = setInterval(() => {
            window.close();

        }, 3000)*/

    </script>

    </body>
</html>